Logger/bin/
Logger/obj/Logger.csproj.nuget.dgspec.json
Logger/obj/
LspHelpers/bin/
LspHelpers/obj/
Server/.vs/
Server/bin/
Server/obj/
Workspaces/bin/
Workspaces/obj/
VsCode/.vscode/
VsCode/package-lock.json
VsCode/uni-vscode-1.0.0.vsix
VsCode/node_modules/
VsCode/out/
VsCode/server/net5.0/
